<div class="container">
    <div class="row">
        <div class="col-md-3">

        </div>

        <div class="col-md-6">
            <br><br>
            <br><br>
            <div class="card">
               
                <div style="padding:20px;">
                    <h4 class="text-center form-group">
                        Payment methods
                    </h4>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam officiis doloribus eaque maxime, praesentium quia. Necessitatibus praesentium odit ratione unde dolores eligendi, quisquam laudantium? Molestias neque vel dicta dolorem corporis?</p>
                <div class="form-group">
                    <button class="btn btn-primary btn-block" (click)="openPaytm()">
                        Paytm
                    </button>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block" (click)="opengooglepay()">
                        Googlpay
                    </button>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>